In [1]:
# Recommendation Systems

In [1]:
%whos

Interactive namespace is empty.

In [7]:
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors

#### Adding clean dataset and categorizing dataset for Size, Revenue and Industry(Area)

In [18]:
dfnewest=pd.read_csv('Oct3_EDA.csv')

In [19]:
dfnewest.head()

,Unnamed: 0,Unnamed: 0.1,Company,Competitors,Founded,Headquarters,Industry,Now known as,Part of,Revenue,Size,Type,Area
0,0,0,J.P. Morgan,NaN,1799,"New York, NY",Investment Banking & Asset Management,NaN,NaN,$10+ billion (USD) per year,10000+ employees,Company - Public (JPM),Finance
1,1,1,IBM,NaN,1911,"Armonk, NY",IT Services,NaN,NaN,$10+ billion (USD) per year,10000+ employees,Company - Public (IBM),Technology
2,2,2,Citi,NaN,1812,"New York, NY",Investment Banking & Asset Management,NaN,NaN,$10+ billion (USD) per year,10000+ employees,Company - Public (C),Finance
3,3,3,Macy's,NaN,1858,"Cincinnati, OH","Department, Clothing, & Shoe Stores",NaN,NaN,$10+ billion (USD) per year,10000+ employees,Company - Public (M),Fashion/Retail
4,4,4,Verizon,NaN,2000,"New York, NY",Telecommunications Services,NaN,NaN,$10+ billion (USD) per year,10000+ employees,Company - Public (VZ),Technology

In [90]:
dfnewest.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Company', 'Competitors', 'Founded',
       'Headquarters', 'Industry', 'Now known as', 'Part of', 'Revenue',
       'Size', 'Type', 'Area'],
      dtype='object')

In [20]:
# dropping unnecessary columns 
dfnewest = dfnewest.drop(['Unnamed: 0','Unnamed: 0.1','Now known as','Part of','Headquarters','Type','Industry','Competitors','Founded',], axis=1)

In [92]:
dfnewest.head()

       Company                       Revenue              Size            Area
0  J.P. Morgan   $10+ billion (USD) per year  10000+ employees         Finance
1          IBM   $10+ billion (USD) per year  10000+ employees      Technology
2         Citi   $10+ billion (USD) per year  10000+ employees         Finance
3       Macy's   $10+ billion (USD) per year  10000+ employees  Fashion/Retail
4      Verizon   $10+ billion (USD) per year  10000+ employees      Technology

In [93]:
dfnewest['Revenue'] = dfnewest['Revenue'].map(lambda x: x.strip())

In [105]:
cleanup_nums = {"Revenue":     {"Less than $1 million (USD) per year": 1, "$1 to $5 million (USD) per year": 1,
                               "$5 to $10 million (USD) per year": 1, "$10 to $25 million (USD) per year": 1,
                                "$25 to $50 million (USD) per year": 1, "$50 to $100 million (USD) per year": 1,
                               "Unknown / Non-Applicable": 1, "$100 to $500 million (USD) per year": 2, 
                                "$500 million to $1 billion (USD) per year": 2, "$500 million to $1 billion (USD) per year": 2,
                               "$1 to $2 billion (USD) per year": 3, "$2 to $5 billion (USD) per year": 3, 
                                "$5 to $10 billion (USD) per year": 3, "$10+ billion (USD) per year": 4}}

In [106]:
dfnewest.replace(cleanup_nums, inplace=True)
dfnewest.head()

       Company Revenue              Size            Area
0  J.P. Morgan       4  10000+ employees         Finance
1          IBM       4  10000+ employees      Technology
2         Citi       4  10000+ employees         Finance
3       Macy's       4  10000+ employees  Fashion/Retail
4      Verizon       4  10000+ employees      Technology

In [107]:
dfnewest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498 entries, 0 to 497
Data columns (total 4 columns):
Company    498 non-null object
Revenue    498 non-null object
Size       498 non-null object
Area       498 non-null object
dtypes: object(4)
memory usage: 15.6+ KB

In [108]:
dfnewest['Revenue'].value_counts()

3    153
4    144
1    107
2     94
Name: Revenue, dtype: int64

In [112]:
dfgetdummies=pd.get_dummies(dfnewest, columns=['Revenue'])

In [114]:
dfgetdummies.head(25)

,Company,Size,Area,Revenue_1,Revenue_2,Revenue_3,Revenue_4
0,J.P. Morgan,10000+ employees,Finance,0,0,0,1
1,IBM,10000+ employees,Technology,0,0,0,1
2,Citi,10000+ employees,Finance,0,0,0,1
3,Macy's,10000+ employees,Fashion/Retail,0,0,0,1
4,Verizon,10000+ employees,Technology,0,0,0,1
5,Morgan Stanley,10000+ employees,Finance,0,0,0,1
6,Goldman Sachs,10000+ employees,Finance,0,0,0,1
7,PwC,10000+ employees,Finance,0,0,1,0
8,EY,10000+ employees,Finance,0,0,0,1
9,Deloitte,10000+ employees,Finance,0,0,0,1
10,Cognizant Technology Solutions,10000+ employees,Goods & Svcs,0,0,0,1
11,Bloomberg L.P.,10000+ employees,Technology,1,0,0,0
12,Bank of America,10000+ employees,Finance,0,0,0,1
13,American Express,10000+ employees,Finance,0,0,0,1
14,Columbia University,10000+ employees,Education,0,0,1,0
15,AIG,10000+ employees,Finance,0,0,0,1
16,New York City Department of Education,10000+ employees,Govnt/Utilities,0,0,0,1
17,NYU (New York University),10000+ employees,Education,0,0,1,0
18,KPMG,10000+ employees,Finance,0,0,1,0
19,Viacom,5001 to 10000 employees,Entertainment,0,0,0,1
20,Rutgers University,5001 to 10000 employees,Education,0,0,1,0
21,Johnson & Johnson,10000+ employees,Health,0,0,0,1
22,UBS,10000+ employees,Finance,0,0,0,1
23,Target,10000+ employees,Goods & Svcs,0,0,0,1
24,Credit Suisse,10000+ employees,Finance,0,0,0,1

In [115]:
dfgetdummies.columns

Index(['Company', 'Size', 'Area', 'Revenue_1', 'Revenue_2', 'Revenue_3',
       'Revenue_4'],
      dtype='object')

In [120]:
dfchange = dfgetdummies.rename(columns={'Revenue_1': '$100M_or_Less', 'Revenue_2': '$100M_to_1B', 'Revenue_3': '$1B_to_10B','Revenue_4': 'More_than_$10B',})

In [121]:
dfchange.head()

,Company,Size,Area,$100M_or_Less,$100M_to_1B,$1B_to_10B,More_than_$10B
0,J.P. Morgan,10000+ employees,Finance,0,0,0,1
1,IBM,10000+ employees,Technology,0,0,0,1
2,Citi,10000+ employees,Finance,0,0,0,1
3,Macy's,10000+ employees,Fashion/Retail,0,0,0,1
4,Verizon,10000+ employees,Technology,0,0,0,1

#### Now do same thing to size

In [125]:
dfchange['Size'] = dfchange['Size'].map(lambda x: x.strip())

In [126]:
cleanup_nums2 = {"Size":     {"1 to 50 employees": 1, "Unknown": 1, "51 to 200 employees": 1, 
                               "201 to 500 employees": 1, "501 to 1000 employees": 1,
                                "5001 to 10000 employees": 3, "1001 to 5000 employees": 2,
                               "10000+ employees": 4}}

In [127]:
dfchange.replace(cleanup_nums2, inplace=True)
dfchange.head()

,Company,Size,Area,$100M_or_Less,$100M_to_1B,$1B_to_10B,More_than_$10B
0,J.P. Morgan,4,Finance,0,0,0,1
1,IBM,4,Technology,0,0,0,1
2,Citi,4,Finance,0,0,0,1
3,Macy's,4,Fashion/Retail,0,0,0,1
4,Verizon,4,Technology,0,0,0,1

In [ ]:
dfchange['Size'].value_counts()

In [129]:
dfchange2=pd.get_dummies(dfchange, columns=['Size'])

In [130]:
dfchange2.head()

,Company,Area,$100M_or_Less,$100M_to_1B,$1B_to_10B,More_than_$10B,Size_1,Size_2,Size_3,Size_4
0,J.P. Morgan,Finance,0,0,0,1,0,0,0,1
1,IBM,Technology,0,0,0,1,0,0,0,1
2,Citi,Finance,0,0,0,1,0,0,0,1
3,Macy's,Fashion/Retail,0,0,0,1,0,0,0,1
4,Verizon,Technology,0,0,0,1,0,0,0,1

In [ ]:
#cleanup_nums2 = {"Size":     {"1 to 50 employees": 1, "Unknown": 1, "51 to 200 employees": 1, 
                               "201 to 500 employees": 1, "501 to 1000 employees": 1,
                                "5001 to 10000 employees": 3, "1001 to 5000 employees": 2,
                               "10000+ employees": 4}}

In [132]:
dfchange3 = dfchange2.rename(columns={'Size_1': 'Employees_1to1000', 'Size_2': 'Employees_1000to5000', 'Size_3': 'Employees_5000to10000','Size_4': 'Employees_10000+',})

In [133]:
dfchange3.head()

,Company,Area,$100M_or_Less,$100M_to_1B,$1B_to_10B,More_than_$10B,Employees_1to1000,Employees_1000to5000,Employees_5000to10000,Employees_10000+
0,J.P. Morgan,Finance,0,0,0,1,0,0,0,1
1,IBM,Technology,0,0,0,1,0,0,0,1
2,Citi,Finance,0,0,0,1,0,0,0,1
3,Macy's,Fashion/Retail,0,0,0,1,0,0,0,1
4,Verizon,Technology,0,0,0,1,0,0,0,1

#### Now do for Area

In [135]:
dfchange3.columns

Index(['Company', 'Area', '$100M_or_Less', '$100M_to_1B', '$1B_to_10B',
       'More_than_$10B', 'Employees_1to1000', 'Employees_1000to5000',
       'Employees_5000to10000', 'Employees_10000+'],
      dtype='object')

In [ ]:
dfchange['Area'] = dfchange['Area'].map(lambda x: x.strip())

In [136]:
dfchange['Area'].value_counts()

Goods & Svcs       160
Finance            103
Technology          64
Fashion/Retail      47
Health              45
Education           32
Entertainment       28
Govnt/Utilities     19
Name: Area, dtype: int64

In [137]:
cleanup_nums3 = {"Area":     {"Goods & Svcs": 1, "Finance": 2, "Technology": 3, 
                               "Fashion/Retail": 4, "Health": 5,
                                "Education": 6, "Entertainment": 7,
                               "Govnt/Utilities": 8}}

In [138]:
dfchange3.replace(cleanup_nums3, inplace=True)
dfchange3.head()

,Company,Area,$100M_or_Less,$100M_to_1B,$1B_to_10B,More_than_$10B,Employees_1to1000,Employees_1000to5000,Employees_5000to10000,Employees_10000+
0,J.P. Morgan,2,0,0,0,1,0,0,0,1
1,IBM,3,0,0,0,1,0,0,0,1
2,Citi,2,0,0,0,1,0,0,0,1
3,Macy's,4,0,0,0,1,0,0,0,1
4,Verizon,3,0,0,0,1,0,0,0,1

In [139]:
dfchange4=pd.get_dummies(dfchange3, columns=['Area'])

In [140]:
dfchange4.columns

Index(['Company', '$100M_or_Less', '$100M_to_1B', '$1B_to_10B',
       'More_than_$10B', 'Employees_1to1000', 'Employees_1000to5000',
       'Employees_5000to10000', 'Employees_10000+', 'Area_1', 'Area_2',
       'Area_3', 'Area_4', 'Area_5', 'Area_6', 'Area_7', 'Area_8'],
      dtype='object')

In [ ]:
cleanup_nums3 = {"Area":     {"Goods & Svcs": 1, "Finance": 2, "Technology": 3, 
                               "Fashion/Retail": 4, "Health": 5,
                                "Education": 6, "Entertainment": 7,
                               "Govnt/Utilities": 8}}

In [144]:
dfchange5 = dfchange4.rename(columns={'Area_1': 'Goods & Svcs', 'Area_2': 'Finance', 'Area_3': 'Technology','Area_4': 'Fashion/Retail','Area_5': 'Health','Area_6': 'Education','Area_7': 'Entertainment','Area_8':'Govnt/Utilities'})

In [145]:
dfchange5.head()

,Company,$100M_or_Less,$100M_to_1B,$1B_to_10B,More_than_$10B,Employees_1to1000,Employees_1000to5000,Employees_5000to10000,Employees_10000+,Goods & Svcs,Finance,Technology,Fashion/Retail,Health,Education,Entertainment,Govnt/Utilities
0,J.P. Morgan,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0
1,IBM,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0
2,Citi,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0
3,Macy's,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0
4,Verizon,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0

In [147]:
len(dfchange5.columns)

17

In [177]:
dfchange5.set_index('Company', inplace=True)

KeyError: 'Company'

In [195]:
dfchange5.reset_index()

,Company,$100M_or_Less,$100M_to_1B,$1B_to_10B,More_than_$10B,Employees_1to1000,Employees_1000to5000,Employees_5000to10000,Employees_10000+,Goods & Svcs,Finance,Technology,Fashion/Retail,Health,Education,Entertainment,Govnt/Utilities
0,J.P. Morgan,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0
1,IBM,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0
2,Citi,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0
3,Macy's,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0
4,Verizon,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0
5,Morgan Stanley,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0
6,Goldman Sachs,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0
7,PwC,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0
8,EY,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0
9,Deloitte,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0
10,Cognizant Technology Solutions,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0
11,Bloomberg L.P.,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
12,Bank of America,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0
13,American Express,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0
14,Columbia University,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0
15,AIG,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0
16,New York City Department of Education,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1
17,NYU (New York University),0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0
18,KPMG,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0
19,Viacom,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0
20,Rutgers University,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0
21,Johnson & Johnson,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0
22,UBS,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0
23,Target,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0
24,Credit Suisse,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0
25,Thomson Reuters,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0
26,Starbucks,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0
27,Barclays,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0
28,AT&T,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0
29,BNY Mellon,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,BAYADA Home Health Care,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0
469,"Discovery, Inc.",0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0
470,Hunter College,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0
471,US Standard Products,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
472,Keller Williams,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0
473,The Container Store,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0
474,Gensler,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0
475,SinglePlatform,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0
476,TGI Fridays,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0
477,Konica Minolta Business Solutions,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0
478,BDO USA,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0
479,Marsh,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0
480,FCB Global,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0
481,Saatchi & Saatchi Group,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
482,CareOne,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
483,Robert Wood Johnson University Hospital,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0
484,NYC Department of Human Resource Administration,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
485,Subway,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0
486,DICK'S Sporting Goods,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0
487,American Airlines,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0
488,EXL Service,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0
489,Allergan,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0
490,NBA,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
491,Simon & Schuster,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0
492,AHRC New York City,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
493,SAP,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0
494,IKEA,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0
495,GNC,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0
496,Huntington Learning Centers,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0
497,Bluewolf,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0

In [183]:
dfchange5.head()

,$100M_or_Less,$100M_to_1B,$1B_to_10B,More_than_$10B,Employees_1to1000,Employees_1000to5000,Employees_5000to10000,Employees_10000+,Goods & Svcs,Finance,Technology,Fashion/Retail,Health,Education,Entertainment,Govnt/Utilities
Company,,,,,,,,,,,,,,,,
J.P. Morgan,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0
IBM,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0
Citi,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0
Macy's,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0
Verizon,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0

### Modeling - Content based Item to Item

In [151]:
dfchange5.to_csv('jobs_clean.csv')

In [159]:
#data = Dataset.load_builtin('jobs_clean.csv')

TypeError: 'DataFrame' objects are mutable, thus they cannot be hashed

In [167]:
dfchange5.columns

Index(['Company', '$100M_or_Less', '$100M_to_1B', '$1B_to_10B',
       'More_than_$10B', 'Employees_1to1000', 'Employees_1000to5000',
       'Employees_5000to10000', 'Employees_10000+', 'Goods & Svcs', 'Finance',
       'Technology', 'Fashion/Retail', 'Health', 'Education', 'Entertainment',
       'Govnt/Utilities'],
      dtype='object')

### Nearest Neighbors unsupervised

#### need to normalize it first

In [3]:
df6=pd.read_csv('final_dataframe.csv')

In [4]:
df6.head()

,Unnamed: 0,Company,Overall,Culture & Values,Work/Life Balance,Sr. Management,Compensation & Benefits,Career Opportunities,$100M_or_Less,$100M_to_1B,...,Employees_5000to10000,Employees_10000+,Goods & Svcs,Finance,Technology,Fashion/Retail,Health,Education,Entertainment,Govnt/Utilities
0,0,J.P. Morgan,3.9,3.8,3.5,3.3,3.8,3.7,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,IBM,3.7,3.7,3.8,3.0,3.1,3.5,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2,Citi,3.6,3.5,3.3,3.1,3.6,3.4,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,Macy's,3.2,3.2,3.1,2.7,2.8,2.9,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,4,Verizon,3.6,3.4,3.2,2.9,4.2,3.4,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df6.columns

Index(['Unnamed: 0', 'Company', 'Overall', 'Culture & Values',
       'Work/Life Balance', 'Sr. Management', 'Compensation & Benefits',
       'Career Opportunities', '$100M_or_Less', '$100M_to_1B', '$1B_to_10B',
       'More_than_$10B', 'Employees_1to1000', 'Employees_1000to5000',
       'Employees_5000to10000', 'Employees_10000+', 'Goods & Svcs', 'Finance',
       'Technology', 'Fashion/Retail', 'Health', 'Education', 'Entertainment',
       'Govnt/Utilities'],
      dtype='object')

In [8]:
df6.drop(['Unnamed: 0'], axis=1, inplace=True)

In [9]:
df6.head()

,Company,Overall,Culture & Values,Work/Life Balance,Sr. Management,Compensation & Benefits,Career Opportunities,$100M_or_Less,$100M_to_1B,$1B_to_10B,...,Employees_5000to10000,Employees_10000+,Goods & Svcs,Finance,Technology,Fashion/Retail,Health,Education,Entertainment,Govnt/Utilities
0,J.P. Morgan,3.9,3.8,3.5,3.3,3.8,3.7,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,IBM,3.7,3.7,3.8,3.0,3.1,3.5,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,Citi,3.6,3.5,3.3,3.1,3.6,3.4,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Macy's,3.2,3.2,3.1,2.7,2.8,2.9,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,Verizon,3.6,3.4,3.2,2.9,4.2,3.4,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Cant use surprise, doing unsupervised, cant use sklearn for standardizing bc not doing traintestsplit

## Normalize newest dataset

In [7]:
# from sklearn.preprocessing import StandardScaler

# scaler = StandardScaler()
# scaled_data_train = scaler.fit_transform(X_train)
# scaled_data_test = scaler.transform(X_test)

# scaled_df_train = pd.DataFrame(scaled_data_train, columns=one_hot_df.columns)
# scaled_df_train.head()

In [217]:
distances, indices = neigh.kneighbors(dfchange5)

In [218]:
indices

array([[186, 218,  33, 396, 201],
       [359, 493,  59, 211,  34],
       [186, 218,  33, 396, 201],
       ...,
       [125, 284,  31, 464,  39],
       [403, 334, 496, 299, 440],
       [232, 261, 188, 305, 497]])

In [220]:
neigh.kneighbors_graph(dfchange5).toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [10]:
df6.columns

Index(['Company', 'Overall', 'Culture & Values', 'Work/Life Balance',
       'Sr. Management', 'Compensation & Benefits', 'Career Opportunities',
       '$100M_or_Less', '$100M_to_1B', '$1B_to_10B', 'More_than_$10B',
       'Employees_1to1000', 'Employees_1000to5000', 'Employees_5000to10000',
       'Employees_10000+', 'Goods & Svcs', 'Finance', 'Technology',
       'Fashion/Retail', 'Health', 'Education', 'Entertainment',
       'Govnt/Utilities'],
      dtype='object')

In [11]:
df6.isnull().sum()

Company                    0
Overall                    2
Culture & Values           2
Work/Life Balance          2
Sr. Management             2
Compensation & Benefits    2
Career Opportunities       2
$100M_or_Less              4
$100M_to_1B                4
$1B_to_10B                 4
More_than_$10B             4
Employees_1to1000          4
Employees_1000to5000       4
Employees_5000to10000      4
Employees_10000+           4
Goods & Svcs               4
Finance                    4
Technology                 4
Fashion/Retail             4
Health                     4
Education                  4
Entertainment              4
Govnt/Utilities            4
dtype: int64

In [12]:
df6.fillna(0)

,Company,Overall,Culture & Values,Work/Life Balance,Sr. Management,Compensation & Benefits,Career Opportunities,$100M_or_Less,$100M_to_1B,$1B_to_10B,...,Employees_5000to10000,Employees_10000+,Goods & Svcs,Finance,Technology,Fashion/Retail,Health,Education,Entertainment,Govnt/Utilities
0,J.P. Morgan,3.9,3.8,3.5,3.3,3.8,3.7,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,IBM,3.7,3.7,3.8,3.0,3.1,3.5,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,Citi,3.6,3.5,3.3,3.1,3.6,3.4,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Macy's,3.2,3.2,3.1,2.7,2.8,2.9,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,Verizon,3.6,3.4,3.2,2.9,4.2,3.4,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
5,Morgan Stanley,3.7,3.8,3.4,3.4,3.5,3.6,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Goldman Sachs,3.9,3.8,2.8,3.4,3.9,3.9,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
7,PwC,3.8,3.7,2.9,3.4,3.2,4.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
8,EY,3.7,3.7,2.9,3.3,3.2,3.9,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Deloitte,3.8,3.8,3.0,3.4,3.4,4.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
10,Cognizant Technology Solutions,3.7,3.6,3.5,3.0,3.3,3.5,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,Bloomberg L.P.,3.8,3.9,3.8,3.1,3.9,3.3,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
12,Bank of America,3.7,3.6,3.6,3.1,3.8,3.5,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
13,American Express,4.0,4.0,4.0,3.5,3.8,3.7,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
14,Columbia University,4.0,3.7,3.7,3.3,3.6,3.7,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
15,AIG,3.1,2.9,3.5,2.5,3.5,2.8,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
16,New York City Department of Education,3.4,3.2,3.3,2.8,3.8,3.4,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
17,NYU (New York University),4.2,4.0,4.1,3.7,3.8,3.7,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
18,KPMG,3.7,3.7,2.9,3.4,3.4,4.1,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
19,Viacom,3.5,3.7,3.7,3.0,3.3,3.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
20,Johnson & Johnson,4.0,4.1,3.8,3.4,4.0,3.6,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
21,Rutgers University,4.0,3.9,4.0,3.5,3.6,3.6,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
22,UBS,3.5,3.3,3.5,2.9,3.3,3.2,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
23,Target,3.4,3.4,3.1,2.8,3.3,3.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,Credit Suisse,3.6,3.5,3.6,3.1,3.6,3.4,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
25,Thomson Reuters,3.8,3.9,4.1,3.2,3.5,3.3,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
26,Starbucks,3.8,3.9,3.5,3.2,3.8,3.5,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,Barclays,3.8,3.8,3.8,3.1,3.8,3.5,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
28,AT&T,3.3,3.1,3.0,2.7,3.9,3.1,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
29,BNY Mellon,3.1,2.9,3.3,2.5,3.0,2.8,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472,US Standard Products,4.2,4.2,4.2,4.4,4.4,4.4,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
473,Keller Williams,4.2,4.3,4.0,3.9,3.4,4.1,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
474,The Container Store,3.6,3.7,3.7,3.2,3.4,3.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
475,BDO USA,3.4,3.4,2.9,3.1,3.1,3.6,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
476,SinglePlatform,3.6,3.9,3.7,3.6,3.9,3.6,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
477,American Airlines,3.8,3.4,3.4,2.9,3.7,3.5,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
478,TGI Fridays,3.0,3.1,2.9,2.7,2.7,2.9,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
479,Wawa,3.7,3.9,3.1,3.2,3.8,3.7,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
480,Konica Minolta Business Solutions,2.9,2.7,3.1,2.4,2.7,2.8,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
481,The Vitamin Shoppe,3.1,3.1,3.0,2.6,3.0,2.8,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
482,Marsh,3.5,3.5,3.4,3.2,3.1,3.3,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
483,FCB Global,3.5,3.5,3.3,3.0,3.1,3.3,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
484,Saatchi & Saatchi Group,3.1,2.8,3.1,2.6,2.9,2.7,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
485,CareOne,2.9,3.1,2.9,3.1,3.2,3.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
486,Robert Wood Johnson University Hospital,3.3,3.4,3.2,2.8,2.9,3.2,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
487,Simon & Schuster,3.4,3.2,3.3,2.8,2.7,2.8,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
488,NYC Department of Human Resource Administration,2.8,2.3,3.2,2.5,3.0,2.5,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
489,Subway,3.2,3.0,3.1,2.7,2.4,2.6,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
490,DICK'S Sporting Goods,3.3,3.3,3.1,2.9,2.9,2.9,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
491,EXL Service,3.6,3.5,3.8,3.3,3.2,3.5,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
492,Allergan,3.6,3.3,3.4,3.0,3.9,3.3,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
493,Young & Rubicam,3.5,3.4,3.2,3.0,2.9,3.1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
494,NBA,4.0,3.8,3.2,3.3,3.5,3.4,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
495,AHRC New York City,2.9,3.1,2.9,2.4,2.7,2.6,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
496,SAP,4.5,4.4,4.4,4.0,4.4,4.2,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
497,Domino's,3.4,3.2,3.1,3.0,2.8,3.2,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
498,IKEA,3.2,3.5,3.2,2.7,3.8,3.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499,GNC,2.9,2.7,3.1,2.5,2.6,2.5,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
500,Huntington Learning Centers,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
501,Bluewolf,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [315]:
df6.head()

,Company,Overall,Culture & Values,Work/Life Balance,Sr. Management,Compensation & Benefits,Career Opportunities,$100M_or_Less,$100M_to_1B,$1B_to_10B,...,Employees_5000to10000,Employees_10000+,Goods & Svcs,Finance,Technology,Fashion/Retail,Health,Education,Entertainment,Govnt/Utilities
0,J.P. Morgan,3.9,3.8,3.5,3.3,3.8,3.7,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,IBM,3.7,3.7,3.8,3.0,3.1,3.5,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,Citi,3.6,3.5,3.3,3.1,3.6,3.4,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Macy's,3.2,3.2,3.1,2.7,2.8,2.9,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,Verizon,3.6,3.4,3.2,2.9,4.2,3.4,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [14]:
df6.set_index('Company')

,Overall,Culture & Values,Work/Life Balance,Sr. Management,Compensation & Benefits,Career Opportunities,$100M_or_Less,$100M_to_1B,$1B_to_10B,More_than_$10B,...,Employees_5000to10000,Employees_10000+,Goods & Svcs,Finance,Technology,Fashion/Retail,Health,Education,Entertainment,Govnt/Utilities
Company,,,,,,,,,,,,,,,,,,,,,
J.P. Morgan,3.9,3.8,3.5,3.3,3.8,3.7,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
IBM,3.7,3.7,3.8,3.0,3.1,3.5,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
Citi,3.6,3.5,3.3,3.1,3.6,3.4,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
Macy's,3.2,3.2,3.1,2.7,2.8,2.9,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
Verizon,3.6,3.4,3.2,2.9,4.2,3.4,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
Morgan Stanley,3.7,3.8,3.4,3.4,3.5,3.6,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
Goldman Sachs,3.9,3.8,2.8,3.4,3.9,3.9,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
PwC,3.8,3.7,2.9,3.4,3.2,4.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
EY,3.7,3.7,2.9,3.3,3.2,3.9,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
Deloitte,3.8,3.8,3.0,3.4,3.4,4.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
Cognizant Technology Solutions,3.7,3.6,3.5,3.0,3.3,3.5,0.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Bloomberg L.P.,3.8,3.9,3.8,3.1,3.9,3.3,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
Bank of America,3.7,3.6,3.6,3.1,3.8,3.5,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
American Express,4.0,4.0,4.0,3.5,3.8,3.7,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
Columbia University,4.0,3.7,3.7,3.3,3.6,3.7,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
AIG,3.1,2.9,3.5,2.5,3.5,2.8,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
New York City Department of Education,3.4,3.2,3.3,2.8,3.8,3.4,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
NYU (New York University),4.2,4.0,4.1,3.7,3.8,3.7,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
KPMG,3.7,3.7,2.9,3.4,3.4,4.1,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
Viacom,3.5,3.7,3.7,3.0,3.3,3.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
Johnson & Johnson,4.0,4.1,3.8,3.4,4.0,3.6,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
Rutgers University,4.0,3.9,4.0,3.5,3.6,3.6,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
UBS,3.5,3.3,3.5,2.9,3.3,3.2,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
Target,3.4,3.4,3.1,2.8,3.3,3.0,0.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Credit Suisse,3.6,3.5,3.6,3.1,3.6,3.4,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
Thomson Reuters,3.8,3.9,4.1,3.2,3.5,3.3,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
Starbucks,3.8,3.9,3.5,3.2,3.8,3.5,0.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Barclays,3.8,3.8,3.8,3.1,3.8,3.5,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
AT&T,3.3,3.1,3.0,2.7,3.9,3.1,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
BNY Mellon,3.1,2.9,3.3,2.5,3.0,2.8,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
US Standard Products,4.2,4.2,4.2,4.4,4.4,4.4,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Keller Williams,4.2,4.3,4.0,3.9,3.4,4.1,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
The Container Store,3.6,3.7,3.7,3.2,3.4,3.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
BDO USA,3.4,3.4,2.9,3.1,3.1,3.6,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
SinglePlatform,3.6,3.9,3.7,3.6,3.9,3.6,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
American Airlines,3.8,3.4,3.4,2.9,3.7,3.5,0.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TGI Fridays,3.0,3.1,2.9,2.7,2.7,2.9,0.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wawa,3.7,3.9,3.1,3.2,3.8,3.7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Konica Minolta Business Solutions,2.9,2.7,3.1,2.4,2.7,2.8,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
The Vitamin Shoppe,3.1,3.1,3.0,2.6,3.0,2.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marsh,3.5,3.5,3.4,3.2,3.1,3.3,0.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
FCB Global,3.5,3.5,3.3,3.0,3.1,3.3,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
Saatchi & Saatchi Group,3.1,2.8,3.1,2.6,2.9,2.7,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CareOne,2.9,3.1,2.9,3.1,3.2,3.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
Robert Wood Johnson University Hospital,3.3,3.4,3.2,2.8,2.9,3.2,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
Simon & Schuster,3.4,3.2,3.3,2.8,2.7,2.8,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NYC Department of Human Resource Administration,2.8,2.3,3.2,2.5,3.0,2.5,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
Subway,3.2,3.0,3.1,2.7,2.4,2.6,1.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
DICK'S Sporting Goods,3.3,3.3,3.1,2.9,2.9,2.9,0.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
EXL Service,3.6,3.5,3.8,3.3,3.2,3.5,0.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Allergan,3.6,3.3,3.4,3.0,3.9,3.3,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
Young & Rubicam,3.5,3.4,3.2,3.0,2.9,3.1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NBA,4.0,3.8,3.2,3.3,3.5,3.4,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
AHRC New York City,2.9,3.1,2.9,2.4,2.7,2.6,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
SAP,4.5,4.4,4.4,4.0,4.4,4.2,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
Domino's,3.4,3.2,3.1,3.0,2.8,3.2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IKEA,3.2,3.5,3.2,2.7,3.8,3.0,1.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
GNC,2.9,2.7,3.1,2.5,2.6,2.5,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
Huntington Learning Centers,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
Bluewolf,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [15]:
df7=df6.drop(['Company'], axis=1)

In [16]:
df7.head()

,Overall,Culture & Values,Work/Life Balance,Sr. Management,Compensation & Benefits,Career Opportunities,$100M_or_Less,$100M_to_1B,$1B_to_10B,More_than_$10B,...,Employees_5000to10000,Employees_10000+,Goods & Svcs,Finance,Technology,Fashion/Retail,Health,Education,Entertainment,Govnt/Utilities
0,3.9,3.8,3.5,3.3,3.8,3.7,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3.7,3.7,3.8,3.0,3.1,3.5,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,3.6,3.5,3.3,3.1,3.6,3.4,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.2,3.2,3.1,2.7,2.8,2.9,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,3.6,3.4,3.2,2.9,4.2,3.4,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [17]:
s6=scaler.fit_transform(df7)

NameError: name 'scaler' is not defined

In [21]:
df6["GroupId"] = df6.groupby(['Company']).grouper.label_info

In [19]:
df6.head()

,Company,Overall,Culture & Values,Work/Life Balance,Sr. Management,Compensation & Benefits,Career Opportunities,$100M_or_Less,$100M_to_1B,$1B_to_10B,...,Employees_10000+,Goods & Svcs,Finance,Technology,Fashion/Retail,Health,Education,Entertainment,Govnt/Utilities,GroupId
0,J.P. Morgan,3.9,3.8,3.5,3.3,3.8,3.7,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,229
1,IBM,3.7,3.7,3.8,3.0,3.1,3.5,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,214
2,Citi,3.6,3.5,3.3,3.1,3.6,3.4,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,105
3,Macy's,3.2,3.2,3.1,2.7,2.8,2.9,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,252
4,Verizon,3.6,3.4,3.2,2.9,4.2,3.4,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,465

In [22]:
df8=df6.set_index('GroupId')

In [23]:
df9=df8.drop(['Company'], axis=1)

In [24]:
df9.head()

,Overall,Culture & Values,Work/Life Balance,Sr. Management,Compensation & Benefits,Career Opportunities,$100M_or_Less,$100M_to_1B,$1B_to_10B,More_than_$10B,...,Employees_5000to10000,Employees_10000+,Goods & Svcs,Finance,Technology,Fashion/Retail,Health,Education,Entertainment,Govnt/Utilities
GroupId,,,,,,,,,,,,,,,,,,,,,
229,3.9,3.8,3.5,3.3,3.8,3.7,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
214,3.7,3.7,3.8,3.0,3.1,3.5,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
105,3.6,3.5,3.3,3.1,3.6,3.4,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
252,3.2,3.2,3.1,2.7,2.8,2.9,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
465,3.6,3.4,3.2,2.9,4.2,3.4,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [25]:
df10=df9.reset_index()

In [350]:
df10.head()

,GroupId,Overall,Culture & Values,Work/Life Balance,Sr. Management,Compensation & Benefits,Career Opportunities,$100M_or_Less,$100M_to_1B,$1B_to_10B,...,Employees_5000to10000,Employees_10000+,Goods & Svcs,Finance,Technology,Fashion/Retail,Health,Education,Entertainment,Govnt/Utilities
0,229,3.9,3.8,3.5,3.3,3.8,3.7,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,214,3.7,3.7,3.8,3.0,3.1,3.5,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,105,3.6,3.5,3.3,3.1,3.6,3.4,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,252,3.2,3.2,3.1,2.7,2.8,2.9,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,465,3.6,3.4,3.2,2.9,4.2,3.4,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [37]:
nn = NearestNeighbors(metric='cosine')
nn.fit(df10) 

#neigh.kneighbors([[0, 0, 1.3]], 2, return_distance=False)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='cosine',
         metric_params=None, n_jobs=1, n_neighbors=5, p=2, radius=1.0)

In [27]:
print(np.any(np.isnan(df10)))
print(np.all(np.isfinite(df10)))

True
False

In [35]:
df10 = df10.fillna(0)

In [36]:
df10[df10['$100M_or_Less'].isnull()]

Empty DataFrame
Columns: [GroupId, Overall, Culture & Values, Work/Life Balance, Sr. Management, Compensation & Benefits, Career Opportunities, $100M_or_Less, $100M_to_1B, $1B_to_10B, More_than_$10B, Employees_1to1000, Employees_1000to5000, Employees_5000to10000, Employees_10000+, Goods & Svcs, Finance, Technology, Fashion/Retail, Health, Education, Entertainment, Govnt/Utilities]
Index: []

[0 rows x 23 columns]

In [38]:
from sklearn.preprocessing import MinMaxScaler, RobustScaler

In [91]:
len(['GroupId', 'Overall', 'Culture & Values', 'Work/Life Balance',
       'Sr. Management', 'Compensation & Benefits', 'Career Opportunities',
       '$100M_or_Less', '$100M_to_1B', '$1B_to_10B', 'More_than_$10B',
       'Employees_1to1000', 'Employees_1000to5000', 'Employees_5000to10000',
       'Employees_10000+', 'Goods & Svcs', 'Finance', 'Technology',
       'Fashion/Retail', 'Health', 'Education', 'Entertainment',
       'Govnt/Utilities']
    )

23

In [46]:
test = [1, 2, 3]

In [47]:
df10.shape

(502, 23)

In [48]:
find_company(df10, test)

,GroupId,Overall,Culture & Values,Work/Life Balance,Sr. Management,Compensation & Benefits,Career Opportunities,$100M_or_Less,$100M_to_1B,$1B_to_10B,...,Employees_5000to10000,Employees_10000+,Goods & Svcs,Finance,Technology,Fashion/Retail,Health,Education,Entertainment,Govnt/Utilities
1,214,3.7,3.7,3.8,3.0,3.1,3.5,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,105,3.6,3.5,3.3,3.1,3.6,3.4,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,252,3.2,3.2,3.1,2.7,2.8,2.9,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [50]:
print(np.any(np.isnan(df10)))
print(np.all(np.isfinite(df10)))

False
True

In [51]:
get_nearest(df10, test, n=5)

(1, 23)

[424, 232, 44, 304, 189]

In [380]:
index_value = df6.iloc[424].index.get_values()

In [381]:
print(index_value)

['Company' 'Overall' 'Culture & Values' 'Work/Life Balance'
 'Sr. Management' 'Compensation & Benefits' 'Career Opportunities'
 '$100M_or_Less' '$100M_to_1B' '$1B_to_10B' 'More_than_$10B'
 'Employees_1to1000' 'Employees_1000to5000' 'Employees_5000to10000'
 'Employees_10000+' 'Goods & Svcs' 'Finance' 'Technology' 'Fashion/Retail'
 'Health' 'Education' 'Entertainment' 'Govnt/Utilities' 'GroupId']

In [387]:
df6.iloc[test,:]

,Company,Overall,Culture & Values,Work/Life Balance,Sr. Management,Compensation & Benefits,Career Opportunities,$100M_or_Less,$100M_to_1B,$1B_to_10B,...,Employees_10000+,Goods & Svcs,Finance,Technology,Fashion/Retail,Health,Education,Entertainment,Govnt/Utilities,GroupId
1,IBM,3.7,3.7,3.8,3.0,3.1,3.5,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,214
2,Citi,3.6,3.5,3.3,3.1,3.6,3.4,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,105
3,Macy's,3.2,3.2,3.1,2.7,2.8,2.9,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,252

In [385]:
top5=[424,341,304,44,364]

In [386]:
df6.iloc[top5,:]

,Company,Overall,Culture & Values,Work/Life Balance,Sr. Management,Compensation & Benefits,Career Opportunities,$100M_or_Less,$100M_to_1B,$1B_to_10B,...,Employees_10000+,Goods & Svcs,Finance,Technology,Fashion/Retail,Health,Education,Entertainment,Govnt/Utilities,GroupId
424,7-Eleven,3.1,2.9,2.8,2.7,2.8,2.8,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2
341,5W Public Relations,3.9,3.7,3.5,3.7,3.8,3.9,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
304,A+E Networks,2.9,2.7,3.4,2.3,3.2,2.4,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3
44,ADP,3.7,3.8,3.7,3.4,3.7,3.6,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
364,360i,3.0,3.2,3.1,2.6,3.3,2.9,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [402]:
results2=[424, 189, 232, 15, 190]

In [403]:
df6.iloc[results2,:]

,Company,Overall,Culture & Values,Work/Life Balance,Sr. Management,Compensation & Benefits,Career Opportunities,$100M_or_Less,$100M_to_1B,$1B_to_10B,...,Employees_10000+,Goods & Svcs,Finance,Technology,Fashion/Retail,Health,Education,Entertainment,Govnt/Utilities,GroupId
424,7-Eleven,3.1,2.9,2.8,2.7,2.8,2.8,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2
189,AMC Entertainment,3.2,3.2,3.1,2.9,2.7,2.8,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,9
232,AECOM,3.2,3.1,3.2,2.7,3.2,3.1,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
15,AIG,3.1,2.9,3.5,2.5,3.5,2.8,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,7
190,AOL,3.7,3.8,3.9,3.1,3.8,3.1,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10

### Running for other similarity metric

In [ ]:
# Also normalized our data by using minmaxscaler

In [110]:
nn = NearestNeighbors(metric='minkowski')
nn.fit(df10)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
         metric_params=None, n_jobs=1, n_neighbors=5, p=2, radius=1.0)

In [111]:
find_company(df10, test)

,GroupId,Overall,Culture & Values,Work/Life Balance,Sr. Management,Compensation & Benefits,Career Opportunities,$100M_or_Less,$100M_to_1B,$1B_to_10B,...,Employees_5000to10000,Employees_10000+,Goods & Svcs,Finance,Technology,Fashion/Retail,Health,Education,Entertainment,Govnt/Utilities
1,0.427146,0.583333,0.612903,0.68,0.433333,0.407407,0.571429,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.209581,0.541667,0.548387,0.48,0.466667,0.592593,0.535714,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.502994,0.375000,0.451613,0.40,0.333333,0.296296,0.357143,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [112]:
get_nearest(df10, test, n=5)

(1, 23)

[457, 160, 50, 107, 207]

In [407]:
results3=[457, 160, 50, 107, 207]

In [408]:
df6.iloc[results3,:]

,Company,Overall,Culture & Values,Work/Life Balance,Sr. Management,Compensation & Benefits,Career Opportunities,$100M_or_Less,$100M_to_1B,$1B_to_10B,...,Employees_10000+,Goods & Svcs,Finance,Technology,Fashion/Retail,Health,Education,Entertainment,Govnt/Utilities,GroupId
457,kate spade,3.6,3.8,3.3,3.1,3.4,3.1,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,501
160,Urban Outfitters,3.5,3.6,3.4,3.1,3.1,2.9,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,460
50,Ralph Lauren,3.5,3.4,3.2,2.9,3.2,3.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,361
107,Tiffany & Co.,3.2,3.3,3.0,2.8,3.4,2.7,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,438
207,Zara,3.2,2.9,2.6,2.5,3.1,3.1,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,496

In [41]:
df6.iloc[test,:]

,Unnamed: 0,Company,Overall,Culture & Values,Work/Life Balance,Sr. Management,Compensation & Benefits,Career Opportunities,$100M_or_Less,$100M_to_1B,...,Employees_10000+,Goods & Svcs,Finance,Technology,Fashion/Retail,Health,Education,Entertainment,Govnt/Utilities,GroupId
1,1,IBM,3.7,3.7,3.8,3.0,3.1,3.5,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,214
2,2,Citi,3.6,3.5,3.3,3.1,3.6,3.4,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,105
3,3,Macy's,3.2,3.2,3.1,2.7,2.8,2.9,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,252

In [433]:
# converting company name to index so can use other functions to predict top5

In [431]:
df6.index[df6['Company'] == 'IBM'].tolist()

[1]

In [ ]:
#trying for only IBM as oppose to average of top3

In [69]:
test2=[1]

In [417]:
df6.iloc[test2,:]

,Company,Overall,Culture & Values,Work/Life Balance,Sr. Management,Compensation & Benefits,Career Opportunities,$100M_or_Less,$100M_to_1B,$1B_to_10B,...,Employees_10000+,Goods & Svcs,Finance,Technology,Fashion/Retail,Health,Education,Entertainment,Govnt/Utilities,GroupId
1,IBM,3.7,3.7,3.8,3.0,3.1,3.5,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,214

In [60]:
# df10 = df10.reset_index()
get_nearest(df10, [1,2,3], n=5)

(1, 23)

[424, 232, 44, 304, 189]

In [419]:
results5=[457, 160, 50, 107, 207]

In [420]:
df6.iloc[results5,:]

,Company,Overall,Culture & Values,Work/Life Balance,Sr. Management,Compensation & Benefits,Career Opportunities,$100M_or_Less,$100M_to_1B,$1B_to_10B,...,Employees_10000+,Goods & Svcs,Finance,Technology,Fashion/Retail,Health,Education,Entertainment,Govnt/Utilities,GroupId
457,kate spade,3.6,3.8,3.3,3.1,3.4,3.1,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,501
160,Urban Outfitters,3.5,3.6,3.4,3.1,3.1,2.9,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,460
50,Ralph Lauren,3.5,3.4,3.2,2.9,3.2,3.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,361
107,Tiffany & Co.,3.2,3.3,3.0,2.8,3.4,2.7,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,438
207,Zara,3.2,2.9,2.6,2.5,3.1,3.1,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,496

In [73]:

def preprocess(df):
    
    relevant = ['GroupId', 'Overall', 'Culture & Values', 'Work/Life Balance',
       'Sr. Management', 'Compensation & Benefits', 'Career Opportunities',
       '$100M_or_Less', '$100M_to_1B', '$1B_to_10B', 'More_than_$10B',
       'Employees_1to1000', 'Employees_1000to5000', 'Employees_5000to10000',
       'Employees_10000+', 'Goods & Svcs', 'Finance', 'Technology',
       'Fashion/Retail', 'Health', 'Education', 'Entertainment',
       'Govnt/Utilities']
    
#     outliers = ['published','avgrating','best','maxplayers','maxplaytime','minplaytime','not_recommended','playingtime','ratingscount','recommended']
    normal = df.columns
    
#    df[relevant] = df[relevant].apply(lambda x: x.fillna(x.median()) if x.dtype != np.dtype('O') else x,axis=0)
    df[relevant] = df[relevant].apply(lambda x: x.fillna(x.median()) if x.dtype != np.dtype('O') else x.mean(),axis=0)

    
#     robust = RobustScaler()
#     df[relevant] = robust.fit_transform(df[relevant])
    minmax = MinMaxScaler()
    df[normal] = minmax.fit_transform(df[normal])
    
    return df

In [41]:
def dropcols(df):
    to_drop = []
    return df

In [42]:
def get_test_array(df, ids):
    processed = preprocess(df)
    inputs = dropcols(processed[processed['GroupId'].isin(ids)])
    return inputs.mean().values.reshape(1, -1)

In [61]:
def get_nearest(df, ids, n=5):
    input_array = get_test_array(df, ids)
#    print(input_array.shape)
#    df = df.reset_index()
    nearest = nn.kneighbors(input_array, n)[-1]
    results = nearest.tolist()[0]
    return results

In [44]:
def find_company(df, ids):
    return df.iloc[ids, :]

### Euclidean metric test

In [ ]:
# only for IBM as test

In [421]:
nn = NearestNeighbors(metric='euclidean')
nn.fit(df10)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='euclidean',
         metric_params=None, n_jobs=None, n_neighbors=5, p=2, radius=1.0)

In [117]:
get_nearest(df10, test2, n=5)

(1, 23)

[457, 160, 50, 107, 207]

In [114]:
results6=get_nearest(df10, test2, n=5)

(1, 23)

In [427]:
print(results6)

[457, 160, 50, 107, 207]

In [424]:
results6=[457, 160, 50, 107, 207]

In [425]:
df6.iloc[results6,:]

,Company,Overall,Culture & Values,Work/Life Balance,Sr. Management,Compensation & Benefits,Career Opportunities,$100M_or_Less,$100M_to_1B,$1B_to_10B,...,Employees_10000+,Goods & Svcs,Finance,Technology,Fashion/Retail,Health,Education,Entertainment,Govnt/Utilities,GroupId
457,kate spade,3.6,3.8,3.3,3.1,3.4,3.1,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,501
160,Urban Outfitters,3.5,3.6,3.4,3.1,3.1,2.9,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,460
50,Ralph Lauren,3.5,3.4,3.2,2.9,3.2,3.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,361
107,Tiffany & Co.,3.2,3.3,3.0,2.8,3.4,2.7,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,438
207,Zara,3.2,2.9,2.6,2.5,3.1,3.1,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,496

In [374]:
df6.head()

,Company,Overall,Culture & Values,Work/Life Balance,Sr. Management,Compensation & Benefits,Career Opportunities,$100M_or_Less,$100M_to_1B,$1B_to_10B,...,Employees_10000+,Goods & Svcs,Finance,Technology,Fashion/Retail,Health,Education,Entertainment,Govnt/Utilities,GroupId
0,J.P. Morgan,3.9,3.8,3.5,3.3,3.8,3.7,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,229
1,IBM,3.7,3.7,3.8,3.0,3.1,3.5,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,214
2,Citi,3.6,3.5,3.3,3.1,3.6,3.4,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,105
3,Macy's,3.2,3.2,3.1,2.7,2.8,2.9,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,252
4,Verizon,3.6,3.4,3.2,2.9,4.2,3.4,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,465

In [376]:
dfnew=df6.groupby(['GroupId','Company'])

In [377]:
dfnew.head()

,Company,Overall,Culture & Values,Work/Life Balance,Sr. Management,Compensation & Benefits,Career Opportunities,$100M_or_Less,$100M_to_1B,$1B_to_10B,...,Employees_10000+,Goods & Svcs,Finance,Technology,Fashion/Retail,Health,Education,Entertainment,Govnt/Utilities,GroupId
0,J.P. Morgan,3.9,3.8,3.5,3.3,3.8,3.7,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,229
1,IBM,3.7,3.7,3.8,3.0,3.1,3.5,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,214
2,Citi,3.6,3.5,3.3,3.1,3.6,3.4,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,105
3,Macy's,3.2,3.2,3.1,2.7,2.8,2.9,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,252
4,Verizon,3.6,3.4,3.2,2.9,4.2,3.4,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,465
5,Morgan Stanley,3.7,3.8,3.4,3.4,3.5,3.6,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,289
6,Goldman Sachs,3.9,3.8,2.8,3.4,3.9,3.9,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,187
7,PwC,3.8,3.7,2.9,3.4,3.2,4.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,354
8,EY,3.7,3.7,2.9,3.3,3.2,3.9,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,145
9,Deloitte,3.8,3.8,3.0,3.4,3.4,4.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,131
10,Cognizant Technology Solutions,3.7,3.6,3.5,3.0,3.3,3.5,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,110
11,Bloomberg L.P.,3.8,3.9,3.8,3.1,3.9,3.3,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,69
12,Bank of America,3.7,3.6,3.6,3.1,3.8,3.5,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,56
13,American Express,4.0,4.0,4.0,3.5,3.8,3.7,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,30
14,Columbia University,4.0,3.7,3.7,3.3,3.6,3.7,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,113
15,AIG,3.1,2.9,3.5,2.5,3.5,2.8,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,7
16,New York City Department of Education,3.4,3.2,3.3,2.8,3.8,3.4,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,307
17,NYU (New York University),4.2,4.0,4.1,3.7,3.8,3.7,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,297
18,KPMG,3.7,3.7,2.9,3.4,3.4,4.1,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,234
19,Viacom,3.5,3.7,3.7,3.0,3.3,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,466
20,Johnson & Johnson,4.0,4.1,3.8,3.4,4.0,3.6,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,233
21,Rutgers University,4.0,3.9,4.0,3.5,3.6,3.6,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,375
22,UBS,3.5,3.3,3.5,2.9,3.3,3.2,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,447
23,Target,3.4,3.4,3.1,2.8,3.3,3.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,423
24,Credit Suisse,3.6,3.5,3.6,3.1,3.6,3.4,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,123
25,Thomson Reuters,3.8,3.9,4.1,3.2,3.5,3.3,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,437
26,Starbucks,3.8,3.9,3.5,3.2,3.8,3.5,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,407
27,Barclays,3.8,3.8,3.8,3.1,3.8,3.5,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,57
28,AT&T,3.3,3.1,3.0,2.7,3.9,3.1,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,11
29,BNY Mellon,3.1,2.9,3.3,2.5,3.0,2.8,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472,US Standard Products,4.2,4.2,4.2,4.4,4.4,4.4,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,451
473,Keller Williams,4.2,4.3,4.0,3.9,3.4,4.1,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,236
474,The Container Store,3.6,3.7,3.7,3.2,3.4,3.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,428
475,BDO USA,3.4,3.4,2.9,3.1,3.1,3.6,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,49
476,SinglePlatform,3.6,3.9,3.7,3.6,3.9,3.6,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,395
477,American Airlines,3.8,3.4,3.4,2.9,3.7,3.5,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27
478,TGI Fridays,3.0,3.1,2.9,2.7,2.7,2.9,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,420
479,Wawa,3.7,3.9,3.1,3.2,3.8,3.7,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,476
480,Konica Minolta Business Solutions,2.9,2.7,3.1,2.4,2.7,2.8,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,239
481,The Vitamin Shoppe,3.1,3.1,3.0,2.6,3.0,2.8,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,434
482,Marsh,3.5,3.5,3.4,3.2,3.1,3.3,0.0,0.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,257
483,FCB Global,3.5,3.5,3.3,3.0,3.1,3.3,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,157
484,Saatchi & Saatchi Group,3.1,2.8,3.1,2.6,2.9,2.7,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,382
485,CareOne,2.9,3.1,2.9,3.1,3.2,3.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,97
486,Robert Wood Johnson University Hospital,3.3,3.4,3.2,2.8,2.9,3.2,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,370
487,Simon & Schuster,3.4,3.2,3.3,2.8,2.7,2.8,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,394
488,NYC Department of Human Resource Administration,2.8,2.3,3.2,2.5,3.0,2.5,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,294
489,Subway,3.2,3.0,3.1,2.7,2.4,2.6,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,414
490,DICK'S Sporting Goods,3.3,3.3,3.1,2.9,2.9,2.9,0.0,0.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,127
491,EXL Service,3.6,3.5,3.8,3.3,3.2,3.5,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,144
492,Allergan,3.6,3.3,3.4,3.0,3.9,3.3,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,20
493,Young & Rubicam,3.5,3.4,3.2,3.0,2.9,3.1,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,495
494,NBA,4.0,3.8,3.2,3.3,3.5,3.4,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,291
495,AHRC New York City,2.9,3.1,2.9,2.4,2.7,2.6,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,6
496,SAP,4.5,4.4,4.4,4.0,4.4,4.2,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,379
497,Domino's,3.4,3.2,3.1,3.0,2.8,3.2,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,137
498,IKEA,3.2,3.5,3.2,2.7,3.8,3.0,1.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,216
499,GNC,2.9,2.7,3.1,2.5,2.6,2.5,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,181
500,Huntington Learning Centers,3.5,3.5,3.4,3.0,3.4,3.2,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,213
501,Bluewolf,3.5,3.5,3.4,3.0,3.4,3.2,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,72

In [ ]:
# Euclidean and minkowski are giving better results, Top5 returned features are more comparable to test features
# Also make more sense

In [ ]:
# Improvements include getting more companies, adding more features. Top5 predicted companies arent that good.

In [53]:
company_list = list(df6.Company.unique())
print('Here is the list of available companies: ', company_list)

Here is the list of available companies:  ['J.P. Morgan', 'IBM', 'Citi', "Macy's", 'Verizon', 'Morgan Stanley', 'Goldman Sachs', 'PwC', 'EY', 'Deloitte', 'Cognizant Technology Solutions', 'Bloomberg L.P.', 'Bank of America', 'American Express', 'Columbia University', 'AIG', 'New York City Department of Education', 'NYU (New York University)', 'KPMG', 'Viacom', 'Johnson & Johnson', 'Rutgers University', 'UBS', 'Target', 'Credit Suisse', 'Thomson Reuters', 'Starbucks', 'Barclays', 'AT&T', 'BNY Mellon', 'The Home Depot', 'Mount Sinai Health System', 'CVS Health', 'Deutsche Bank', 'Apple', 'Accenture', 'NBCUniversal', 'Northwell Health', 'NewYork-Presbyterian Hospital', 'Memorial Sloan Kettering', 'UPS', 'Best Buy', 'Prudential', 'NYU Langone Health', 'ADP', "Bloomingdale's", 'Pfizer', 'New York Life', 'Merck', 'Chase', 'Ralph Lauren', 'TD', 'Toys "R" Us', "McDonald's", 'Staples', 'MetLife', 'Shoprite Supermarkets', 'PepsiCo', 'Amazon', "L'Oréal", 'HSBC Holdings', 'Google', 'Cablevision Systems', 'Walmart', 'Time Inc.', 'Estée Lauder Companies', 'United Nations', 'Wells Fargo', 'Whole Foods Market', 'Walgreens', "Victoria's Secret", 'Gap', 'Bed Bath & Beyond', 'CA Technologies', 'Merrill Lynch', 'Sears', 'Novartis', 'Condé Nast', 'Metropolitan Transportation Authority', 'BlackRock', 'Abercrombie & Fitch', 'T-Mobile', 'Uniqlo', 'Con Edison', 'McKinsey & Company', 'Century 21 Stores', 'Ogilvy', 'Infosys', 'Stony Brook University', "Lowe's", 'Barnes & Noble', 'Forever 21', 'Capital One', 'Tata Consultancy Services', 'US Postal Service', 'Yelp', 'Success Academy Charter Schools', 'BNP Paribas', 'JetBlue', 'Nielsen', 'Saks Fifth Avenue', 'Rite Aid', 'CUNY (City University of New York)', 'J. Crew', 'Unilever', 'Avon', 'Mastercard', 'Tiffany & Co.', 'Town Sports International Holdings', 'Robert Half', 'YMCA', 'Enterprise', 'EmblemHealth', 'Stop & Shop', 'Broadridge', "Moody's", 'H&M', 'Equinox Fitness', 'Edelman', 'Hertz', 'PVH Corp.', 'Pearson', 'Ann Taylor', 'Lord & Taylor', 'American Eagle Outfitters', 'Montefiore Medical', 'Nordstrom', 'Colgate-Palmolive', 'Scholastic', 'Hearst', 'Duane Reade', 'Wiley', 'S&P Global Ratings', 'Weill Cornell Medical College', "Kohl's", 'Coach', 'Société Générale', "Trader Joe's", 'HBO', 'NYC Health + Hospitals', 'Sephora', 'Sprint', 'Mondo', 'Old Navy', 'TransPerfect', 'Chipotle', 'AllianceBernstein', 'Honeywell', 'New York Times', 'Kmart', 'Uber', 'National Debt Relief', 'Northwestern Mutual', 'AXA Advisors', 'Bristol-Myers Squibb', 'Healthfirst (New York)', "Dunkin' Donuts", 'Digitas', 'Wipro', 'Banana Republic', 'Urban Outfitters', "The Children's Place", 'CBS', 'DISH', 'GEICO', 'UnitedHealth Group', 'Horizon Blue Cross Blue Shield of New Jersey', 'Visiting Nurse Service of New York', 'Altice', 'Sanofi', 'Madison Square Garden', 'Insight Global', 'New York City Department of Parks and Recreation', 'BD', 'Sony Music Entertainment', 'Canon U.S.A.', 'Delta Air Lines', 'Power Home Remodeling', 'Oracle', 'J. C. Penney', 'Chubb', 'Microsoft', 'Regeneron Pharmaceuticals', 'R/GA', 'Audible', 'RBC', 'Panera Bread', 'Capri Holdings', 'Zocdoc', 'AMC Entertainment', 'AOL', 'Grey Group', 'Capgemini', 'TIAA', 'Panasonic', 'GameStop', 'Capco', 'Samsung Electronics America', 'Dow Jones', "Modell's Sporting Goods", 'Stevens Institute of Technology', 'Nomura Holdings', 'Benjamin Moore', 'PSEG', 'Major League Baseball (MLB)', 'Stryker', 'Hollister Co.', 'Zara', 'Quest Diagnostics', 'WeWork', 'City of New York', 'Xerox', 'SHI International', 'Penguin Random House', 'Crothall Healthcare', "BJ's Wholesale Club", 'CIT', 'Ross Stores', 'First Data', 'iCIMS', 'S&P Global', 'Mercer', 'Strategic Financial Solutions', 'Burlington Stores', 'Compass', 'United Airlines', 'S&P Global Market Intelligence', 'Frank Recruitment Group', 'Fordham University', 'New York & Company', 'Pace University', 'Spectrum', 'AECOM', 'FactSet', 'Dun & Bradstreet', 'Costco Wholesale', 'Avaya', 'RB', 'Guardian Life', 'SiriusXM', 'Coty', 'New School', 'Jefferies', 'YAI - Seeing beyond disability', 'Mavis Discount Tire', 'FreshDirect', 'NIKE', 'BASF', 'Medidata Solutions', 'New York Police Department', 'Federal Reserve Bank (NY)', 'Port Authority of New York and New Jersey', 'WebMD Health', 'RadioShack', 'Express', 'Publicis', 'American Apparel', 'Shutterstock', 'New Jersey Institute of Technology', 'Aéropostale', 'Foot Locker', 'Handy', 'Bayer', 'Anthropologie', 'AppNexus', 'TJ Maxx', 'Salesforce', 'Marriott International', 'Santander', 'DTCC', 'Allstate', 'Massage Envy', 'FDM Group', 'Columbia University Medical Center', "Christie's", 'Horizon Media', "Applebee's", 'Express Scripts', 'Mindshare', 'PNC Financial Services Group', 'DSW', 'Avis Budget Group', 'McGraw-Hill', 'Vonage', 'Comodo', 'Atlantic Health System', 'New York City Department of Health & Mental Hygiene', 'Yext', 'OTG Management', 'CITYMD', 'Marshalls', 'Celgene', 'AXA Equitable', 'US Army', 'Genpact', 'Commvault', 'BBDO', 'MediaMath', 'Bain & Company', 'Achievement First', 'NYSE', 'Amplify', 'Dollar Tree', 'XO Group', 'A+E Networks', 'Ladders', 'Aramark', 'Publicis Sapient', 'FedEx Ground', 'Williams Lea Tag', 'Brown Brothers Harriman', 'GLG', 'Univision', 'Huge', 'Protiviti', 'Havas Worldwide', 'Cisco Systems', 'FOX News', 'ALM', 'Research Foundation of CUNY', 'Michaels', 'Six Flags', 'Tory Burch', "The Nature's Bounty Co.", 'City College of New York', 'Postmates', 'Macquarie Group', 'McCann Worldgroup', 'Cantor Fitzgerald', 'Wolters Kluwer', 'Cushman & Wakefield', "St. John's University", 'Party City', 'Meredith Corporation', 'Uncommon Schools', 'Bethpage Federal Credit Union', 'FedEx', 'Mondelēz International', 'Teach for America', 'Henry Schein', 'Metropolitan Museum of Art', '5W Public Relations', 'SCO Family of Services', 'Bath & Body Works', 'Willis Towers Watson', 'OMD', 'Mizuho Financial Group', 'Everyday Health Group', 'Albert Einstein College of Medicine', 'Facebook', 'CBRE', 'Fitch Ratings', 'Barneys', 'The Coca-Cola Company', 'LinkedIn', 'Oliver Wyman', 'Raymour & Flanigan', 'Verisk Analytics', 'Conduent', 'Ricoh USA', 'inVentiv Health', 'IPsoft', 'IQVIA', 'Adecco', '360i', 'T3 Trading Group', 'Walt Disney Company', 'Marsh & McLennan Companies', 'Information Builders', 'IHS Markit', 'PageGroup', 'E*TRADE Financial', 'Oxford University Press', 'Club Monaco', 'Green Key Resources', "Harlem Children's Zone", 'Global Brands Group', 'The Forum Group', 'College Board', 'Forrest Solutions', 'Valley National Bancorp', 'Realogy', 'Tommy Hilfiger', 'Kaplan Test Prep', 'The Jones Group', 'JLL', 'Turner Construction', 'FTI Consulting', 'National Grid USA', 'MongoDB', 'New York Public Library', 'Petco', 'Roche', 'Grant Thornton', 'iHeartMedia', 'J. Walter Thompson Worldwide', 'Bank Of Tokyo-Mitsubishi UFJ', 'Ipreo', 'Siemens', 'Spotify', 'Fidelis Care', 'The NPD Group', 'VaynerMedia', 'Rockefeller University', 'HCL Technologies', "Wendy's", 'Allied Universal', 'Kumon Group', 'FINRA', 'FLIK Hospitality Group', 'Blue Apron', 'CDM', 'AlphaSights', 'Neuberger Berman', 'Rent The Runway', 'Brookhaven National Laboratory', 'Ericsson-Worldwide', 'State Farm', 'PetSmart', 'H&R Block', 'Fragomen', 'WW', 'Rue Gilt Groupe', 'Douglas Elliman Real Estate', '7-Eleven', 'LexisNexis Legal & Professional', 'RSM', 'Vice Media', 'New York Community Bancorp', 'Long Island University', 'Thomas', 'Makerbot', 'Fidelity Investments', 'European Wax Center', 'Gensler', 'National Income Life', 'Bio-Reference Labs', 'Vector Marketing', 'MAC Cosmetics', 'TD Ameritrade', 'Nasdaq', 'Mercedes-Benz USA', 'MEC', 'Oscar Health', 'WarnerMedia', 'Hospital for Special Surgery', 'New York Institute of Technology', 'Argus Information & Advisory Services', 'GroupM', 'Carat', 'Interbrand', 'OnDeck', 'Crestron Electronics', 'Weber Shandwick', 'Burger King', 'Experian', 'Bright Horizons Family Solutions', 'kate spade', 'Baruch College', 'Sprinklr', 'Integra LifeSciences', 'Spark Foundry', 'New York City Housing Authority', 'Martha Stewart Living', 'TheStreet', 'Life Time', 'Aflac', 'Boston Consulting Group', 'Infor', 'BAYADA Home Health Care', 'Discovery, Inc.', 'Hunter College', 'US Standard Products', 'Keller Williams', 'The Container Store', 'BDO USA', 'SinglePlatform', 'American Airlines', 'TGI Fridays', 'Wawa', 'Konica Minolta Business Solutions', 'The Vitamin Shoppe', 'Marsh', 'FCB Global', 'Saatchi & Saatchi Group', 'CareOne', 'Robert Wood Johnson University Hospital', 'Simon & Schuster', 'NYC Department of Human Resource Administration', 'Subway', "DICK'S Sporting Goods", 'EXL Service', 'Allergan', 'Young & Rubicam', 'NBA', 'AHRC New York City', 'SAP', "Domino's", 'IKEA', 'GNC', 'Huntington Learning Centers', 'Bluewolf']

In [87]:
df10.iloc[4].describe()

count    24.000000
mean      0.465686
std       0.847529
min       0.000000
25%       0.000000
50%       0.000000
75%       0.609954
max       4.000000
Name: 4, dtype: float64

In [97]:
np.where(np.isnan(df10))

(array([], dtype=int64), array([], dtype=int64))

In [108]:
np.isnan(df10).sum()

GroupId                    0
Overall                    0
Culture & Values           0
Work/Life Balance          0
Sr. Management             0
Compensation & Benefits    0
Career Opportunities       0
$100M_or_Less              0
$100M_to_1B                0
$1B_to_10B                 0
More_than_$10B             0
Employees_1to1000          0
Employees_1000to5000       0
Employees_5000to10000      0
Employees_10000+           0
Goods & Svcs               0
Finance                    0
Technology                 0
Fashion/Retail             0
Health                     0
Education                  0
Entertainment              0
Govnt/Utilities            0
dtype: int64

In [100]:
df10.drop(['Unnamed: 0'], axis=1, inplace=True)

In [102]:
len(df10.columns)

23

In [121]:
test3 = [11, 12, 13]

In [86]:
get_nearest(df10, [0,1,2,3,4,5,6], n=10)

[424, 364, 341, 44, 304, 232, 15, 495, 189, 190]

In [89]:

# num_recs = input('How many recommendations would you like? Please enter a number from 1 to 10:\n')

# while int(num_recs) > 10:
#     num_recs = input('You entered a number over 10. Please enter a number from 1 to 10 to continue. \n')

# input_list = []
# num_of_inputs = input('How many companies to compare with? ')
# i = 0
# while i < int(num_of_inputs):
#     temp = input('Company #'+str(i+1)+': ')
#     if temp in company_list:
#         input_list.append(temp)
#         i +=1
#     else:
#         print('Does not match companies list, please type again.')

# print('\n'+'-----Company Recommendations-----'+'\n')

# input_nums_list = []
# for i in input_list:
#     input_nums_list.append(df6.index[df6['Company'] == i].tolist())
output = get_nearest(df10, [0,1,2,3,4,5,6], n=10) # , n=num_recs
# output = get_nearest(df10, input_nums_list, n=num_recs) # , n=num_recs
# get_recommendations(input_list, int(num_recs))

df6.iloc[output,:]

,Company,Overall,Culture & Values,Work/Life Balance,Sr. Management,Compensation & Benefits,Career Opportunities,$100M_or_Less,$100M_to_1B,$1B_to_10B,...,Employees_10000+,Goods & Svcs,Finance,Technology,Fashion/Retail,Health,Education,Entertainment,Govnt/Utilities,GroupId
424,7-Eleven,3.1,2.9,2.8,2.7,2.8,2.8,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2
364,360i,3.0,3.2,3.1,2.6,3.3,2.9,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
341,5W Public Relations,3.9,3.7,3.5,3.7,3.8,3.9,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
44,ADP,3.7,3.8,3.7,3.4,3.7,3.6,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
304,A+E Networks,2.9,2.7,3.4,2.3,3.2,2.4,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3
232,AECOM,3.2,3.1,3.2,2.7,3.2,3.1,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
15,AIG,3.1,2.9,3.5,2.5,3.5,2.8,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,7
495,AHRC New York City,2.9,3.1,2.9,2.4,2.7,2.6,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,6
189,AMC Entertainment,3.2,3.2,3.1,2.9,2.7,2.8,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,9
190,AOL,3.7,3.8,3.9,3.1,3.8,3.1,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10

In [66]:
df10.dtypes

GroupId                    float64
Overall                    float64
Culture & Values           float64
Work/Life Balance          float64
Sr. Management             float64
Compensation & Benefits    float64
Career Opportunities       float64
$100M_or_Less              float64
$100M_to_1B                float64
$1B_to_10B                 float64
More_than_$10B             float64
Employees_1to1000          float64
Employees_1000to5000       float64
Employees_5000to10000      float64
Employees_10000+           float64
Goods & Svcs               float64
Finance                    float64
Technology                 float64
Fashion/Retail             float64
Health                     float64
Education                  float64
Entertainment              float64
Govnt/Utilities            float64
dtype: object

In [134]:
np.all(np.isfinite(df10))

True

In [131]:
df10.index

RangeIndex(start=1, stop=503, step=1)

In [128]:
print(np.any(np.isnan(df10)))
print(np.all(np.isfinite(df10)))

False
True

In [45]:
df6.Company.unique()

array(['J.P. Morgan', 'IBM', 'Citi', "Macy's", 'Verizon',
       'Morgan Stanley', 'Goldman Sachs', 'PwC', 'EY', 'Deloitte',
       'Cognizant Technology Solutions', 'Bloomberg L.P.',
       'Bank of America', 'American Express', 'Columbia University',
       'AIG', 'New York City Department of Education',
       'NYU (New York University)', 'KPMG', 'Viacom', 'Johnson & Johnson',
       'Rutgers University', 'UBS', 'Target', 'Credit Suisse',
       'Thomson Reuters', 'Starbucks', 'Barclays', 'AT&T', 'BNY Mellon',
       'The Home Depot', 'Mount Sinai Health System', 'CVS Health',
       'Deutsche Bank', 'Apple', 'Accenture', 'NBCUniversal',
       'Northwell Health', 'NewYork-Presbyterian Hospital',
       'Memorial Sloan Kettering', 'UPS', 'Best Buy', 'Prudential',
       'NYU Langone Health', 'ADP', "Bloomingdale's", 'Pfizer',
       'New York Life', 'Merck', 'Chase', 'Ralph Lauren', 'TD',
       'Toys "R" Us', "McDonald's", 'Staples', 'MetLife',
       'Shoprite Supermarkets', 'PepsiCo', 'Amazon', "L'Oréal",
       'HSBC Holdings', 'Google', 'Cablevision Systems', 'Walmart',
       'Time Inc.', 'Estée Lauder Companies', 'United Nations',
       'Wells Fargo', 'Whole Foods Market', 'Walgreens',
       "Victoria's Secret", 'Gap', 'Bed Bath & Beyond', 'CA Technologies',
       'Merrill Lynch', 'Sears', 'Novartis', 'Condé Nast',
       'Metropolitan Transportation Authority', 'BlackRock',
       'Abercrombie & Fitch', 'T-Mobile', 'Uniqlo', 'Con Edison',
       'McKinsey & Company', 'Century 21 Stores', 'Ogilvy', 'Infosys',
       'Stony Brook University', "Lowe's", 'Barnes & Noble', 'Forever 21',
       'Capital One', 'Tata Consultancy Services', 'US Postal Service',
       'Yelp', 'Success Academy Charter Schools', 'BNP Paribas',
       'JetBlue', 'Nielsen', 'Saks Fifth Avenue', 'Rite Aid',
       'CUNY (City University of New York)', 'J. Crew', 'Unilever',
       'Avon', 'Mastercard', 'Tiffany & Co.',
       'Town Sports International Holdings', 'Robert Half', 'YMCA',
       'Enterprise', 'EmblemHealth', 'Stop & Shop', 'Broadridge',
       "Moody's", 'H&M', 'Equinox Fitness', 'Edelman', 'Hertz',
       'PVH Corp.', 'Pearson', 'Ann Taylor', 'Lord & Taylor',
       'American Eagle Outfitters', 'Montefiore Medical', 'Nordstrom',
       'Colgate-Palmolive', 'Scholastic', 'Hearst', 'Duane Reade',
       'Wiley', 'S&P Global Ratings', 'Weill Cornell Medical College',
       "Kohl's", 'Coach', 'Société Générale', "Trader Joe's", 'HBO',
       'NYC Health + Hospitals', 'Sephora', 'Sprint', 'Mondo', 'Old Navy',
       'TransPerfect', 'Chipotle', 'AllianceBernstein', 'Honeywell',
       'New York Times', 'Kmart', 'Uber', 'National Debt Relief',
       'Northwestern Mutual', 'AXA Advisors', 'Bristol-Myers Squibb',
       'Healthfirst (New York)', "Dunkin' Donuts", 'Digitas', 'Wipro',
       'Banana Republic', 'Urban Outfitters', "The Children's Place",
       'CBS', 'DISH', 'GEICO', 'UnitedHealth Group',
       'Horizon Blue Cross Blue Shield of New Jersey',
       'Visiting Nurse Service of New York', 'Altice', 'Sanofi',
       'Madison Square Garden', 'Insight Global',
       'New York City Department of Parks and Recreation', 'BD',
       'Sony Music Entertainment', 'Canon U.S.A.', 'Delta Air Lines',
       'Power Home Remodeling', 'Oracle', 'J. C. Penney', 'Chubb',
       'Microsoft', 'Regeneron Pharmaceuticals', 'R/GA', 'Audible', 'RBC',
       'Panera Bread', 'Capri Holdings', 'Zocdoc', 'AMC Entertainment',
       'AOL', 'Grey Group', 'Capgemini', 'TIAA', 'Panasonic', 'GameStop',
       'Capco', 'Samsung Electronics America', 'Dow Jones',
       "Modell's Sporting Goods", 'Stevens Institute of Technology',
       'Nomura Holdings', 'Benjamin Moore', 'PSEG',
       'Major League Baseball (MLB)', 'Stryker', 'Hollister Co.', 'Zara',
       'Quest Diagnostics', 'WeWork', 'City of New York', 'Xerox',
       'SHI International', 'Penguin Random House', 'Crothall Healthcare',
       "BJ's Wholesale Club", 'CIT', 'Ross Stores', 'First Data', 'iCIMS',
       'S&P Global', 'Mercer', 'Strategic Financial Solutions',
       'Burlington Stores', 'Compass', 'United Airlines',
       'S&P Global Market Intelligence', 'Frank Recruitment Group',
       'Fordham University', 'New York & Company', 'Pace University',
       'Spectrum', 'AECOM', 'FactSet', 'Dun & Bradstreet',
       'Costco Wholesale', 'Avaya', 'RB', 'Guardian Life', 'SiriusXM',
       'Coty', 'New School', 'Jefferies',
       'YAI - Seeing beyond disability', 'Mavis Discount Tire',
       'FreshDirect', 'NIKE', 'BASF', 'Medidata Solutions',
       'New York Police Department', 'Federal Reserve Bank (NY)',
       'Port Authority of New York and New Jersey', 'WebMD Health',
       'RadioShack', 'Express', 'Publicis', 'American Apparel',
       'Shutterstock', 'New Jersey Institute of Technology',
       'Aéropostale', 'Foot Locker', 'Handy', 'Bayer', 'Anthropologie',
       'AppNexus', 'TJ Maxx', 'Salesforce', 'Marriott International',
       'Santander', 'DTCC', 'Allstate', 'Massage Envy', 'FDM Group',
       'Columbia University Medical Center', "Christie's",
       'Horizon Media', "Applebee's", 'Express Scripts', 'Mindshare',
       'PNC Financial Services Group', 'DSW', 'Avis Budget Group',
       'McGraw-Hill', 'Vonage', 'Comodo', 'Atlantic Health System',
       'New York City Department of Health & Mental Hygiene', 'Yext',
       'OTG Management', 'CITYMD', 'Marshalls', 'Celgene',
       'AXA Equitable', 'US Army', 'Genpact', 'Commvault', 'BBDO',
       'MediaMath', 'Bain & Company', 'Achievement First', 'NYSE',
       'Amplify', 'Dollar Tree', 'XO Group', 'A+E Networks', 'Ladders',
       'Aramark', 'Publicis Sapient', 'FedEx Ground', 'Williams Lea Tag',
       'Brown Brothers Harriman', 'GLG', 'Univision', 'Huge', 'Protiviti',
       'Havas Worldwide', 'Cisco Systems', 'FOX News', 'ALM',
       'Research Foundation of CUNY', 'Michaels', 'Six Flags',
       'Tory Burch', "The Nature's Bounty Co.",
       'City College of New York', 'Postmates', 'Macquarie Group',
       'McCann Worldgroup', 'Cantor Fitzgerald', 'Wolters Kluwer',
       'Cushman & Wakefield', "St. John's University", 'Party City',
       'Meredith Corporation', 'Uncommon Schools',
       'Bethpage Federal Credit Union', 'FedEx', 'Mondelēz International',
       'Teach for America', 'Henry Schein', 'Metropolitan Museum of Art',
       '5W Public Relations', 'SCO Family of Services',
       'Bath & Body Works', 'Willis Towers Watson', 'OMD',
       'Mizuho Financial Group', 'Everyday Health Group',
       'Albert Einstein College of Medicine', 'Facebook', 'CBRE',
       'Fitch Ratings', 'Barneys', 'The Coca-Cola Company', 'LinkedIn',
       'Oliver Wyman', 'Raymour & Flanigan', 'Verisk Analytics',
       'Conduent', 'Ricoh USA', 'inVentiv Health', 'IPsoft', 'IQVIA',
       'Adecco', '360i', 'T3 Trading Group', 'Walt Disney Company',
       'Marsh & McLennan Companies', 'Information Builders', 'IHS Markit',
       'PageGroup', 'E*TRADE Financial', 'Oxford University Press',
       'Club Monaco', 'Green Key Resources', "Harlem Children's Zone",
       'Global Brands Group', 'The Forum Group', 'College Board',
       'Forrest Solutions', 'Valley National Bancorp', 'Realogy',
       'Tommy Hilfiger', 'Kaplan Test Prep', 'The Jones Group', 'JLL',
       'Turner Construction', 'FTI Consulting', 'National Grid USA',
       'MongoDB', 'New York Public Library', 'Petco', 'Roche',
       'Grant Thornton', 'iHeartMedia', 'J. Walter Thompson Worldwide',
       'Bank Of Tokyo-Mitsubishi UFJ', 'Ipreo', 'Siemens', 'Spotify',
       'Fidelis Care', 'The NPD Group', 'VaynerMedia',
       'Rockefeller University', 'HCL Technologies', "Wendy's",
       'Allied Universal', 'Kumon Group', 'FINRA',
       'FLIK Hospitality Group', 'Blue Apron', 'CDM', 'AlphaSights',
       'Neuberger Berman', 'Rent The Runway',
       'Brookhaven National Laboratory', 'Ericsson-Worldwide',
       'State Farm', 'PetSmart', 'H&R Block', 'Fragomen', 'WW',
       'Rue Gilt Groupe', 'Douglas Elliman Real Estate', '7-Eleven',
       'LexisNexis Legal & Professional', 'RSM', 'Vice Media',
       'New York Community Bancorp', 'Long Island University', 'Thomas',
       'Makerbot', 'Fidelity Investments', 'European Wax Center',
       'Gensler', 'National Income Life', 'Bio-Reference Labs',
       'Vector Marketing', 'MAC Cosmetics', 'TD Ameritrade', 'Nasdaq',
       'Mercedes-Benz USA', 'MEC', 'Oscar Health', 'WarnerMedia',
       'Hospital for Special Surgery', 'New York Institute of Technology',
       'Argus Information & Advisory Services', 'GroupM', 'Carat',
       'Interbrand', 'OnDeck', 'Crestron Electronics', 'Weber Shandwick',
       'Burger King', 'Experian', 'Bright Horizons Family Solutions',
       'kate spade', 'Baruch College', 'Sprinklr', 'Integra LifeSciences',
       'Spark Foundry', 'New York City Housing Authority',
       'Martha Stewart Living', 'TheStreet', 'Life Time', 'Aflac',
       'Boston Consulting Group', 'Infor', 'BAYADA Home Health Care',
       'Discovery, Inc.', 'Hunter College', 'US Standard Products',
       'Keller Williams', 'The Container Store', 'BDO USA',
       'SinglePlatform', 'American Airlines', 'TGI Fridays', 'Wawa',
       'Konica Minolta Business Solutions', 'The Vitamin Shoppe', 'Marsh',
       'FCB Global', 'Saatchi & Saatchi Group', 'CareOne',
       'Robert Wood Johnson University Hospital', 'Simon & Schuster',
       'NYC Department of Human Resource Administration', 'Subway',
       "DICK'S Sporting Goods", 'EXL Service', 'Allergan',
       'Young & Rubicam', 'NBA', 'AHRC New York City', 'SAP', "Domino's",
       'IKEA', 'GNC', 'Huntington Learning Centers', 'Bluewolf'],
      dtype=object)